[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-countries = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
django-debug-toolbar = "*"
django-filter = "*"
celery = "*"
redis = "*"
python-dotenv = "*"
djoser = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.8"
